.mod { width: 120px; height: 120px; background-image: url("../images/mods.avif"); background-repeat: no-repeat; }
.mod-RICOCHET { background-position: -960px -840px; }
.mod-DEBUFF_REDUCER { background-position: -0 -0; }
.mod-DEBUFF_REMOVER { background-position: -120px -0; }
.mod-DECAY { background-position: -0 -120px; }
.mod-DIVINE_BARRIER { background-position: -120px -120px; }
.mod-DIVINERS_KEVLAR { background-position: -240px -0; }
.mod-DURATION_EXTENDER { background-position: -240px -120px; }
.mod-ECHO_SHARD { background-position: -0 -240px; }
.mod-ENCHANTERS_BARRIER { background-position: -120px -240px; }
.mod-ENDURING_SPEED { background-position: -240px -240px; }
.mod-ENDURING_SPIRIT { background-position: -360px -0; }
.mod-ESCALATING_EXPOSURE { background-position: -360px -120px; }
.mod-ESCALATING_RESILIENCE { background-position: -360px -240px; }
.mod-ETHEREAL_SHIFT { background-position: -0 -360px; }
.mod-EXTRA_CHARGE { background-position: -120px -360px; }
.mod-EXTRA_HEALTH { background-position: -240px -360px; }
.mod-EXTRA_REGEN { background-position: -360px -360px; }
.mod-EXTRA_SPIRIT { background-position: -480px -0; }
.mod-EXTRA_STAMINA { background-position: -480px -120px; }
.mod-FLEETFOOT { background-position: -480px -240px; }
.mod-FORTITUDE { background-position: -480px -360px; }
.mod-FRENZY { background-position: -0 -480px; }
.mod-GLASS_CANNON { background-position: -120px -480px; }
.mod-HEADHUNTER { background-position: -240px -480px; }
.mod-HEADSHOT_BOOSTER { background-position: -360px -480px; }
.mod-HEALBANE { background-position: -480px -480px; }
.mod-HEALING_BOOSTER { background-position: -600px -0; }
.mod-HEALING_RITE { background-position: -600px -120px; }
.mod-HEALING_NOVA { background-position: -600px -240px; }
.mod-HEROIC_AURA { background-position: -600px -360px; }
.mod-HIGH_VELOCITY_MAG { background-position: -600px -480px; }
.mod-HOLLOW_POINT_WARD { background-position: -0 -600px; }
.mod-HUNTERS_AURA { background-position: -120px -600px; }
.mod-IMPROVED_BULLET_ARMOR { background-position: -240px -600px; }
.mod-IMPROVED_BURST { background-position: -360px -600px; }
.mod-IMPROVED_COOLDOWN { background-position: -480px -600px; }
.mod-IMPROVED_REACH { background-position: -600px -600px; }
.mod-IMPROVED_SPIRIT { background-position: -720px -0; }
.mod-IMPROVED_SPIRIT_ARMOR { background-position: -720px -120px; }
.mod-INFUSER { background-position: -720px -240px; }
.mod-INHIBITOR { background-position: -720px -360px; }
.mod-INTENSIFYING_MAGAZINE { background-position: -720px -480px; }
.mod-KINETIC_DASH { background-position: -720px -600px; }
.mod-KNOCKDOWN { background-position: -0 -720px; }
.mod-LEECH { background-position: -120px -720px; }
.mod-LIFESTRIKE { background-position: -240px -720px; }
.mod-LONG_RANGE { background-position: -360px -720px; }
.mod-LUCKY_SHOT { background-position: -480px -720px; }
.mod-MAGIC_CARPET { background-position: -600px -720px; }
.mod-MAJESTIC_LEAP { background-position: -720px -720px; }
.mod-MELEE_CHARGE { background-position: -840px -0; }
.mod-MELEE_LIFESTEAL { background-position: -840px -120px; }
.mod-METAL_SKIN { background-position: -840px -240px; }
.mod-MONSTER_ROUNDS { background-position: -840px -360px; }
.mod-MYSTIC_BURST { background-position: -840px -480px; }
.mod-MYSTIC_REACH { background-position: -840px -600px; }
.mod-MYSTIC_REVERB { background-position: -840px -720px; }
.mod-MYSTIC_SHOT { background-position: -0 -840px; }
.mod-MYSTIC_SLOW { background-position: -120px -840px; }
.mod-MYSTIC_VULNERABILITY { background-position: -240px -840px; }
.mod-PHANTOM_STRIKE { background-position: -360px -840px; }
.mod-POINT_BLANK { background-position: -480px -840px; }
.mod-PRISTINE_EMBLEM { background-position: -600px -840px; }
.mod-QUICKSILVER_RELOAD { background-position: -720px -840px; }
.mod-RAPID_RECHARGE { background-position: -840px -840px; }
.mod-RAPID_ROUNDS { background-position: -960px -0; }
.mod-REACTIVE_BARRIER { background-position: -960px -120px; }
.mod-REFRESHER { background-position: -960px -240px; }
.mod-RESCUE_BEAM { background-position: -960px -360px; }
.mod-RESTORATIVE_LOCKET { background-position: -960px -480px; }
.mod-RESTORATIVE_SHOT { background-position: -960px -600px; }
.mod-RETURN_FIRE { background-position: -960px -720px; }
.mod-RICOCHE { background-position: -960px -840px; }
.mod-SHADOW_WEAVE { background-position: -0 -960px; }
.mod-SHARPSHOOTER { background-position: -120px -960px; }
.mod-SILENCE_GLYPH { background-position: -240px -960px; }
.mod-SILENCER { background-position: -360px -960px; }
.mod-SIPHON_BULLETS { background-position: -480px -960px; }
.mod-SLOWING_BULLETS { background-position: -600px -960px; }
.mod-SLOWING_HEX { background-position: -720px -960px; }
.mod-SOUL_REBIRTH { background-position: -840px -960px; }
.mod-SOUL_SHREDDER_BULLETS { background-position: -960px -960px; }
.mod-SPIRIT_ARMOR { background-position: -1080px -0; }
.mod-SPRINT_BOOTS { background-position: -1080px -120px; }
.mod-SPIRIT_LIFESTEAL { background-position: -1080px -240px; }
.mod-SPIRIT_STRIKE { background-position: -1080px -360px; }
.mod-SPIRITUAL_OVERFLOW { background-position: -1080px -480px; }
.mod-SUPERIOR_COOLDOWN { background-position: -1080px -600px; }
.mod-SUPERIOR_DURATION { background-position: -1080px -720px; }
.mod-SUPERIOR_STAMINA { background-position: -1080px -840px; }
.mod-SUPPRESSOR { background-position: -1080px -960px; }
.mod-SURGE_OF_POWER { background-position: -0 -1080px; }
.mod-SWIFT_STRIKER { background-position: -120px -1080px; }
.mod-TESLA_BULLETS { background-position: -240px -1080px; }
.mod-TITANIC_MAGAZINE { background-position: -360px -1080px; }
.mod-TORMENT_PULSE { background-position: -480px -1080px; }
.mod-TOXIC_BULLETS { background-position: -600px -1080px; }
.mod-UNSTOPPABLE { background-position: -720px -1080px; }
.mod-VAMPIRIC_BURST { background-position: -840px -1080px; }
.mod-VEIL_WALKER { background-position: -960px -1080px; }
.mod-WARP_STONE { background-position: -1080px -1080px; }
.mod-WITHERING_WHIP { background-position: -1200px -0; }
.mod-ACTIVE_RELOAD { background-position: -1200px -120px; }
.mod-ALCHEMICAL_FIRE { background-position: -1200px -240px; }
.mod-AMMO_SCAVENGER { background-position: -1200px -360px; }
.mod-BASIC_MAGAZINE { background-position: -1200px -480px; }
.mod-BERSERKER { background-position: -1200px -600px; }
.mod-BOUNDLESS_SPIRIT { background-position: -1200px -720px; }
.mod-BULLET_ARMOR { background-position: -1200px -840px; }
.mod-BULLET_LIFESTEAL { background-position: -1200px -960px; }
.mod-BULLET_RESIST_SHREDDER { background-position: -1200px -1080px; }
.mod-BURST_FIRE { background-position: -0 -1200px; }
.mod-CLOSE_QUARTERS { background-position: -120px -1200px; }
.mod-COLD_FRONT { background-position: -240px -1200px; }
.mod-COLOSSUS { background-position: -360px -1200px; }
.mod-COMBAT_BARRIER { background-position: -480px -1200px; }
.mod-CRIPPLING_HEADSHOT { background-position: -600px -1200px; }
.mod-CURSE { background-position: -720px -1200px; }